<br />
<div class="content-head">
  <div class="finder-title mt10">{$curr_title}</div>
  <div class="gridlist-action">
    <div class="nav-search">
      <form name="sale_date" onsubmit="addContactReport(this)" action="javascript:void(0)">
        起始：
        <input class="Wdate" name="start_time" type="text" value="{$start_time}" size="13px" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',{$min_date}})">
        终止：
        <input class="Wdate" name="end_time" type="text" value="{$end_time}" size="13px" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',{$min_date}})">
        <select name="role_id">
          <option value="0">请选择</option>
          {foreach  from=$role_list item=role}
          <option value="{$role.role_id}" {if $role.role_id eq $role_id}selected{/if}>{$role.role_name}</option>
          {/foreach}
        </select>
        <input type="submit" value="检索" class="b_submit">
      </form>
    </div>
  </div>
  <div class="mt10">
    <table border="0" id="person_style" cellpadding="0" cellspacing="0" class="wu_table_list rb_border tr_hover wu_rb_border" width="80%">
      <thead>
        <tr>
          <th></th>
          <th></th>
          {if $search}
          <th colspan="3">自定义搜索</th>
          {/if}
          <th colspan="3">今天</th>
          <th colspan="3">昨天</th>
          <th colspan="3">本月</th>
          <th colspan="3">上个月</th>
        </tr>
        <tr id="sortByThis" class="align_right">
          <th id="rank">排 名</th>
          <th>客 服</th>
          {if $search}
          <th>QQ</th><th>微信</th><th>通过验证</th>
          {/if}
          <th>QQ</th><th>微信</th><th>通过验证</th>
          <th>QQ</th><th>微信</th><th>通过验证</th>
          <th>QQ</th><th>微信</th><th>通过验证</th>
          <th>QQ</th><th>微信</th><th>通过验证</th>
        </tr>
      </thead>
      <tbody class="align_right">
        {foreach from=$admin_list item=val name=i}
        <tr{if !$smarty.foreach.i.last} group="{$val.group_id}" role="{$val.role_id}" admin="{$val.admin_id}" role_code='{$val.role_code}'{/if}>
          <td>{if !$smarty.foreach.i.last}{$smarty.foreach.i.iteration}{/if}</td>
          <td>{$val.admin_name}</td>
          {if $search}
          <td title="">{if $val.customer.qq}{$val.customer.qq}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td title="">{if $val.customer.wechat}{$val.customer.wechat}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td title="">{if $val.customer.access}{$val.customer.access}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          {/if}
          <td>{if $val.today.qq}{$val.today.qq}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td>{if $val.today.wechat}{$val.today.wechat}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td>{if $val.today.access}{$val.today.access}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td>{if $val.yesterday.qq}{$val.yesterday.qq}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td>{if $val.yesterday.wechat}{$val.yesterday.wechat}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td>{if $val.yesterday.access}{$val.yesterday.access}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td>{if $val.month.qq}{$val.month.qq}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td>{if $val.month.wechat}{$val.month.wechat}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td>{if $val.month.access}{$val.month.access}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td>{if $val.last_month.qq}{$val.last_month.qq}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td>{if $val.last_month.wechat}{$val.last_month.wechat}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
          <td>{if $val.last_month.access}{$val.last_month.access}{elseif $smarty.foreach.i.last}{else}0{/if}</td>
        </tr>
        {/foreach}
      </tbody>
    </table>
  </div>
</div>
