<div class="mb10 w1000 w-scroll">
  <h3 class="pb5">{$curr_title}<font class="c_1">{$num}</font></h3>
  <div class="finder-packet">
    <div class="packet-items">
      <ul id="sub_tag" class="clearfix" style="width:100%;float:left">
        <!-- 针对订单状态进行的分类 -->
        {foreach from=$shipping_list item=val name=i}
        <li id="tag_{$val.shipping_id}" class="{if $val.shipping_id eq $shipping_id}current-tab{else}last{/if}">
        <a href="order.php?act=current_order&shipping_id={$val.shipping_id}">{$val.shipping_name}</a>
        </li>
        {/foreach}
      </ul>
    </div>
  </div>
  <div class="gridlist-action c_b">
    <div>
      <script language="javascript" type="text/javascript" src="My97DatePicker/WdatePicker.js"></script>
      下单日期：<input class="Wdate" id="start_time" type="text" value="{$start_time}" onClick="WdatePicker()">
      至<input class="Wdate" id="end_time" type="text" value="{$end_time}" onClick="WdatePicker()">
      <select id="keyfields" onchange="changeKeywordsArae(this)">
        <option value="consignee"{if $kf eq 'consignee'} selected{/if}>收货人</option>
        <option value="order_sn"{if $kf eq 'order_sn'} selected{/if}>订单编号</option>
        <option value="admin_name"{if $kf eq 'admin_name'} selected{/if}>健康顾问</option>
        <option value="platform"{if $kf eq 'platform'} selected{/if}>购买平台</option>
        <option value="mobile"{if $kf eq 'mobile'} selected{/if}>手机号码</option>
        <option value="tel"{if $kf eq 'tel'} selected{/if}>固话</option>
        <option value="qq"{if $kf eq 'qq'} selected{/if}>QQ</option>
        <option value="aliww"{if $kf eq 'aliww'} selected{/if}>旺旺</option>
        <option value="region"{if $kf eq 'region'} selected{/if}>收货地区</option>
        <option value="address"{if $kf eq 'address'} selected{/if}>收货地址</option>
      </select>
      <span id="keywordsArea">
        <input type="text" id="keywords" value="{$kw}">
      </span>
      <button value="order.php?act={$act}&shipping_id={$shipping_id}" onclick="searchOrder(this)" id="filterURL" class="b_submit">搜索</button>
      {if $shipping_act}
      <input type="text" name="tracking_start" placeholder='起始快递号' value=""/>
      <input type="number" name="order_num" placeholder='填充订单数' title="填充订单数" class="w50" value="{$page_size}"/>
      <input type="button" name="name" onclick="fillOrderShipping()" value="填充" class="b_submit"/>
      {/if}
      <!--<input type="text" name="shipping_end" placeholder='  终止快递号' value=""/>-->
      <!--<button value="order.php?act=rand_order&a=print" onclick="giveMeOrder(this)" class="b_submit">获取订单</button>-->
      <select id="goods_kind" onchange="sendGoodsFilter()" style="width:100px">
        <option value="0">商品名称</option>
        {foreach from=$beshipped_goods_list item=val}
        <option value="{$val.goods_kind}"{if $val.goods_kind eq $beshipped_goods_id} selected{/if}>{$val.goods_name}</option>
        {/foreach}
      </select>
      {if $shipping_act}
      <a href="order.php?act=batch_print" class="b_submit" title="批量打单" style="display:inline-block;height:15px" target="_blank">批量打单</a>
      {/if}
      <!--{if $all}-->
      <!--<label><input type="checkbox" name="abnormal" id="abnormal" value="1" {if $abnormal}checked{/if}/> 潜规则</label>-->
      <!--{/if}-->
    </div>
  </div>

  <!-- 查询订单 -->
  <div class="finder-header-wrapper">
    <table width="180px" height="100%" id="left_table" cellpadding="0" cellspacing="0" class="wu_table_list wu_rb_border fl rb_border">
      <tr>
        <th>用户名</td>
        {if $shipping_act}
        <th>{if $act eq 'current_order'}打单{else}快递跟进{/if}</td>
        {/if}
        {foreach from=$order_list item=val}
        <tr id="tr_1_{$val.order_id}">
          <td>
            {if $val.is_black eq 1}
            <img src="images/black_member.png" class="png_btn" alt="黑名单顾客" title="黑名单顾客"/>
            {/if}
            {$val.buyer}
          </td>
          {if $shipping_act}
          <td>
            <span class="h_f">
              {if $act eq 'current_order'}
              <a href="order.php?act=info&print=1&print_A4=1&order_id={$val.order_id}" target="_blank">
                <img src="images/mail_active.png" alt="发货单A4" title="发货单A4"></a>
              <a href="order.php?act=info&print=1&order_id={$val.order_id}" target="_blank">
                <img src="images/tree_folder.gif" alt="发货单" title="发货单"></a>
              <a href="order.php?act=expressprint&order_id={$val.order_id}" target="_blank">
                <img class="border" src="images/kd_order.jpg" alt="快递单" title="快递单"></a>
              <a href="order.php?act=order_receipt&order_id={$val.order_id}" target="_blank">
                <img class="border" src="images/receipt.png" alt="快递单" title="快递单"></a>
              {elseif $act eq 'finished_order'}
              <button onclick="showPrompt('info',{$val.order_id})" >
                <img src="images/tree_folder.gif" alt="发货单" title="发货单">
              </button>
              <button onclick="showPrompt('express',{$val.order_id})">
                <img class="border" src="images/kd_order.jpg" alt="快递单" title="快递单">
              </button>
              {else}
              <img src="images/{if $val.shipping_status eq 2}1{else}0{/if}.gif" alt="{if $val.shipping_status eq 2}已收货{else}未收到{/if}" id="shipping_{$val.order_id}" onclick="receiptGoods({$val.order_id})"/>
              {/if}
            </span>
          </td>
          {/if}
        </tr>
        {/foreach}
      </table>
      <table cellpadding="0" cellspacing="0" id="right_table" class="wu_table_list fl wu_rb_border rb_border" >
        <tr>
          <th width="112px">操作</th>
          <th width="123px">运单号</th>
          <th width="123px">会员卡号</th>
          <th width="153px">发货必看</th>
          <th width="77px">总金额</th>
          <th width="70px">谁的单</th>
          <th width="70px">谁添加</th>
          <th width="115px">下单时间</th>
        </tr>
        {foreach from=$order_list item=val}
        <tr id="tr_2_{$val.order_id}" height="25px">
          <td class="{if $val.pay_id eq 3}bg_pay{/if} b_r">
            {if $shipping_act}<span class="{if $val.review}fav_start-y{else}fav_start-x{/if}" id="review_{$val.order_id}"{if $access} onclick="review({$val.order_id})"{/if}></span>{/if}
            <font>【{$val.role_describe}】</font><a class="mt1" href="order.php?act=order_detail&id={$val.order_id}&{$act}=1" title="订单详情" ><img src="images/add.gif" alt="查看" title="查看" align="absmiddle"></a>
          </td>
          <td id="{$val.order_id}" {if $shipping_act} ondblclick="replaceToInput(this, {$val.order_id})"{/if}>{if $val.tracking_sn}{if $act eq 'history_order' || $act eq 'finished_order'}<a href="logistics_info.php?id={$val.order_id}" target="_blank">{$val.tracking_sn}</a>{else}{$val.tracking_sn}{/if}{else}{$val.shipping_name}{/if}</td>
          <td align="center"{if ! $val.card_number && $add_memcard} ondblclick="replaceHTML(this, {$val.order_id}, 'card_number')"{/if}>{$val.card_number}</td>
          <td align="center" title="{$val.remarks}" ondblclick="showMsg({req_msg:true,timeout:5000,message:'{$val.remarks}'})">{$val.remarks|truncate:10}</td>
          <td>{$val.formated_total_fee}</td>
          <td title="{$val.admin_name}">{$val.admin_name|truncate:4}</td>
          <td title="{$val.add_admin}">{$val.add_admin|truncate:4}</td>
          <td>{$val.short_order_time}</td>
        </tr>
        {/foreach}
      </table>
    </table>
    <!-- 右上-END -->
  </div> 
</td>
</tr>
</div>

<!-- 分页 -->
<div class="bottom_tip">
  <div class="tip_left">
    <p>共{$record_count}条记录,当前页:{$page_start}-{$page_end}条，每页<input type="text" name="page_size" value="" size="4" onkeyup="sendPageValue(this)"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  </div>
  <div class="tip_center">
    <span><a href="order.php?act={$act}{$page_link}&page=1&page_size={$page_size}" id="page_link"><<</a></span>
    {foreach from=$page_set item=v}
    <span{if $v eq $page} class="cur"{/if}>{if $v eq $page}{$v}{else}<a href="order.php?act={$act}{$page_link}&page={$v}&page_size={$page_size}">{$v}</a>{/if}</span>
    {/foreach}
    <span><a href="order.php?act={$act}{$page_link}&page={$page_count}&page_size={$page_size}">>></a></span>
  </div>
  <div class="tip_right">跳转到第
    <input type="text" name="page" size="4" onkeyup="sendPageValue(this)">&nbsp;页
    <input type="hidden" id="page_url" value="{$page_link}">
  </div>
</div>
