<table border="0" cellpadding="0" cellspacing="0" class="wu_table_list rb_border tr_hover" width="1324px">
  <thead>
    <tr id="sortByThis" class="align_right">
      <th></th>
      {foreach from=$deal_method item=v}
      <th colspan="3">{$v.method_name}</th>
      {/foreach}
    </tr>
    <tr>
      <th>部门</th>
      {foreach from=$deal_method item=v}
      <th>成交数</th><th>金额</th><th>占比</th>
      {/foreach}
    </tr>
  </thead>
  <tbody class="align_right">
    {foreach from=$final item=val name=i}
    <tr{if !$smarty.foreach.i.last} group="{$val.group_id}" role="{$val.role_id}" admin="{$val.admin_id}" role_code='{$val.role_code}'{/if}>
      <td>{$val.name}</td>
      {foreach from=$val.list itme=l}
      <!--<td>{}</td>-->
      <!--<td>{}</td>-->
      <!--<td>{}</td>-->
      {/foreach}
    </tr>
    {/foreach}
  </tbody>
</table>
