<div class="content-head">
  <div class="finder-title">{$curr_title}<font>{$num}</font></div>
  <div class="finder-packet" id="">
    <div class="white_bg packet-items" id="">
      <form>
        <input class="Wdate" name="month" type="text" value="{$month}" onClick="WdatePicker({dateFmt:'yyyy-MM'})" onchange="sendCheckData(this)">
        &nbsp;<select id="platform" name="platform" onchange="getGroupList(this)">
          <option value="0">请选择部门</option>
          {foreach from=$platform item=val}
          <option value="{$val.role_id}"{if $filter.platform eq $val.role_id} selected{/if}>{$val.role_name}</option>
          {/foreach}
        </select>
        <select id="group_id" name="group_id" onchange="getAdminList(this)">
          <option value="0">请选择小组</option>
          {foreach from=$group_list item=val}
          <option value="{$val.group_id}"{if $filter.group_id eq $val.group_id} selected{/if}>{$val.group_name}</option>
          {/foreach}
        </select>
        <select id="admin_id" name="admin_id">
          <option value="0">选择健康顾问</option>
          {foreach from=$admin_list item=val}
          <option value="{$val.user_id}"{if $filter.admin_id eq $val.user_id} selected{/if}>{$val.user_name}</option>
          {/foreach}
        </select>
        <select name="brand" onblur="getBrandGoods(this.value)">
          <option value="0">请选择品牌</option>
          {foreach from=$brand_list item=val}
          <option value="{$val.brand_id}"{if $filter.brand eq $val.brand_id} selected{/if}>{$val.brand_name}</option>
          {/foreach}
        </select>
        <select name="goods_id" id="goods">
          <option value="0">请选择商品</option>
          {foreach from=$goods_list item=val}
          <option value="{$val.goods_id}"{if $val.goods_id eq $filter.goods_id} selected{/if}>{$val.goods_name}</option>
          {/foreach}
        </select>
        <br/><br/>
        <select name="pay_id" id="pay_id">
          <option value="0">选择支付方式</option>
          {foreach from=$pay_list item=val}
          <option value="{$val.pay_id}"{if $filter.pay_id eq $val.pay_id} selected{/if}>{$val.pay_name}</option>
          {/foreach}
        </select>
        <select name="shipping_id" id="shipping_id">
          <option value="0">请选择配送方式</option>
          {foreach from=$shipping_list item=val}
          <option value="{$val.shipping_id}"{if $val.shipping_id eq $filter.shipping_id} selected{/if}>{$val.shipping_name}</option>
          {/foreach}
        </select>
        金额：<input type="text" name="min_money" placeholder="金额" class="wd50"/> - 
        <input type="text" name="max_money" placeholder="金额" class="wd50"/>
        查询条件：<label><input type="radio" name="order_class" value="0" {if !$order_class}checked{/if}/> 每天下单</label>
        <label><input type="radio" name="order_class" value="1" {if $order_class}checked{/if}/> 每天出库</label>
        <input type="button" class="b_submit" value="搜 索" onclick="filterEverydayCheck(this.form)"/>
        
        <input type="hidden" id="cache_data" value="{$cache_data}"/>
      </div>
    </div>
  </div>
  <ul id="sub_tag" class="clearfix">
    <!-- 针对订单状态进行的分类 -->
    {foreach from=$days_list item=val key=key name=i}
    {foreach from=$val item=v name=j}
    <li id="tag_{$key}-{$v}" class="{if $key-$v eq $day}current-tab{elseif $month and $smarty.foreach.j.index eq 0}current-tab{else}last{/if}">
    <a href="finance.php?act={$act}&day={$key}-{$v}{$sch_condition}">{$v}</a>
    </li>
    {/foreach}
    {/foreach}
  </ul>
  <!-- 查询订单 -->
  <!--<script language="javascript" type="text/javascript" src="My97DatePicker/WdatePicker.js"></script>-->
  <!--下单日期：<input class="Wdate" id="start_time" type="text" value="{$start_time}" onClick="WdatePicker()">-->
  <!--至<input class="Wdate" id="end_time" type="text" value="{$end_time}" onClick="WdatePicker()">-->

  <!-- 订单列表 -->
  <div style="width:100%;margin-top:36px;">
    <table width="15%" height="100%" border="0" cellpadding="0" cellspacing="0" class="wu_table_list rb_border wu_rb_border fl">
      <tr>
        <th>用户名</th>
        <th>订单核对</th>
      </tr>
      {foreach from=$order_list item=val}
      <tr id="tr_1_{$val.order_id}" class="tr_list">
        <td>{$val.buyer}</td>
        <td>
          <span>
            <button onclick="showPrompt('info',{$val.order_id})" >
              <img src="images/tree_folder.gif" alt="发货单" title="发货单">
            </button>
            <button onclick="showPrompt('express',{$val.order_id})">
              <img class="border" src="images/kd_order.jpg" alt="快递单" title="快递单">
            </button>
          </span>
        </td>
      </tr>
      {/foreach}
    </table>
    <table height="100%" border="0" width="68%" cellpadding="0" cellspacing="0" class="wu_table_list rb_border fl wu_rb_border tr_hover">
      <tr>
        <th width="10%">操作</th>
        <th width="10%">收货人</th>
        <th width="15%">运单号</th>
        <th width="15%">订单编号</th>
        <th width="15%">下单时间</th>
        <th width="10%">总金额</th>
        <th width="10%">健康顾问</th>
        <th width="10%">添加人</th>
        <!--td align="center">发货必看</td-->
      </tr>
      {foreach from=$order_list item=val}
      <tr id="tr_2_{$val.order_id}" class="{if $val.pay_id eq 3}tr_bg_list{/if}">
        <td>
          <font color="#666">【{$val.role_describe}】</font>
          <a href='order.php?act=order_detail&id={$val.order_id}&{$act}=1' title='订单详情'>
            <img src="images/add.gif" class="pt7 f_r"/>
          </a>
        </td>
        <td>{$val.consignee}</td>
        <td {if $shipping_act} ondblclick="replaceToInput(this, {$val.order_id})"{/if}>
          {if $val.tracking_sn}{if $act eq 'history_order' || $act eq 'finished_order'}<a href="logistics_info.php?id={$val.order_id}" target="_blank">{$val.tracking_sn}</a>{else}{$val.tracking_sn}{/if}{else}{$val.shipping_name}{/if}</td>
        <td>{$val.full_order_sn}</td>
        <td>{$val.short_order_time}</td>
        <td>{$val.formated_total_fee}</td>
        <td>{$val.admin_name}</td>
        <td>{$val.add_admin}</td>
        <!--td>{$val.remarks|truncate:5}</td-->
      </tr>
      {/foreach}
    </table>
  </div>

  <!-- 分页 -->
  <div class="bottom_tip">
    <div class="tip_left">
      <p>共{$record_count}条记录,当前页:{$page_start}-{$page_end}条，每页<input type="text" name="page_size" value="" size="4" onkeyup="sendPageValue(this)"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div class="tip_center">
      <span><a href="finance.php?act={$act}{$page_link}&page=1&page_size={$page_size}" id="page_link"><<</a></span>
      {foreach from=$page_set item=v}
      <span{if $v eq $page} class="cur"{/if}>{if $v eq $page}{$v}{else}<a href="finance.php?act={$act}{$page_link}&page={$v}&page_size={$page_size}">{$v}</a>{/if}</span>
      {/foreach}
      <span><a href="finance.php?act={$act}{$page_link}&page={$page_count}&page_size={$page_size}">>></a></span>
    </div>
    <div class="tip_right">
      跳转到第
      <input type="text" name="page" size="4" onkeyup="sendPageValue(this)">&nbsp;页
    </div>
  </div>
