<div class="content-head">
  <div class="finder-title">{$curr_title}<font>{$num}</font></div>
  <div class="finder-packet" id="">
    <div class="packet-items" id="">
      <ul id="sub_tag" class="clearfix" style="width:100%;float:left">
        <!-- 针对订单状态进行的分类 -->
        {foreach from=$platform_list item=val name=i}
        <li id="tag_{$val.role_id}" class="{if $val.role_id eq $platform}current-tab{else}last{/if}">
        <a href="order.php?act={$act}&platform={$val.role_id}">
          {if $val.role_id}{$val.role_describe}-{/if}{$val.role_name}
        </a>
        </li>
        {/foreach}
      </ul>
      <input type="hidden" id="cache_data" value="{$cache_data}"/>
    </div>
  </div>

  <div class="gridlist-action" style="width:925px">
    <!-- 查询订单 -->
    <div class="nav-search">
      <script language="javascript" type="text/javascript" src="My97DatePicker/WdatePicker.js"></script>
      下单日期：<input class="Wdate" id="start_time" type="text" value="{$start_time}" onClick="WdatePicker()">
      至<input class="Wdate" id="end_time" type="text" value="{$end_time}" onClick="WdatePicker()">
      <select id="keyfields" onchange="changeKeywordsArae(this)">
        <option value="consignee"{if $kf eq 'consignee'} selected{/if}>收货人</option>
        <option value="order_sn"{if $kf eq 'order_sn'} selected{/if}>订单编号</option>
        <option value="tracking_sn"{if $kf eq 'tracking_sn'} selected{/if}>运单号</option>
        <option value="qq"{if $kf eq 'qq'} selected{/if}>QQ</option>
        <option value="aliww"{if $kf eq 'aliww'} selected{/if}>旺旺</option>
        <option value="mobile"{if $kf eq 'mobile'} selected{/if}>手机号码</option>
        <option value="tel"{if $kf eq 'tel'} selected{/if}>固话</option>
        <option value="region"{if $kf eq 'region'} selected{/if}>收货地区</option>
        <option value="address"{if $kf eq 'address'} selected{/if}>收货地址</option>
        <option value="admin_name"{if $kf eq 'admin_name'} selected{/if}>健康顾问</option>
      </select>
      <span id="keywordsArea">
        <input type="text" id="keywords" value="{$kw}">
      </span>
    </div>
    <button value="order.php?act={$act}&platform={$platform}" onclick="searchOrder(this)" class="b_submit">搜索</button>
  </div>
  <!-- 订单列表 -->
  <div class="finder-header-wrapper list-div" style="" id="" >
    <table width="15%" height="100%" border="0" id="left_table" cellpadding="0" cellspacing="0" class="wu_table_list wu_rb_border fl rb_border">
      <tr>
        <th>用户名</th>
        {if $access}<th>订单核对</th>{/if}
      </tr>
      {foreach from=$order_list item=val}
      <tr bgcolor="#FFFFFF" id="tr_1_{$val.order_id}" class="tr_list">
        <td>{$val.buyer}</td>
        {if $access}
        <td>
          <span class="h_f">
            <button onclick="showPrompt('info',{$val.order_id})" >
              <img src="images/tree_folder.gif" alt="发货单" title="发货单">
            </button>
            <button onclick="showPrompt('express',{$val.order_id})">
              <img class="border" src="images/kd_order.jpg" alt="快递单" title="快递单">
            </button>
          </span>
        </td>
        {/if}
      </tr>
      {/foreach}
    </table>
    <table height="100%" border="0" id="right_table" width="70%" cellpadding="0" cellspacing="0" class="wu_table_list wu_rb_border rb_border fl">
      <tr>
        <th>操作</th>
        <th>收货人</th>
        <th>运单号</th>
        <th>下单时间</th>
        <th>总金额</th>
        <th>健康顾问</th>
        <th>添加人</th>
        <th>发货必看</th>
      </tr>
      {foreach from=$order_list item=val}
      <tr id="tr_2_{$val.order_id}" class="{if $val.pay_id eq 3}tr_bg_list{/if}">
        <td>
          <font>【{$val.role_describe}】</font><a href="order.php?act=order_detail&id={$val.order_id}&{$act}=1" title="订单详情"><img src="images/add.gif" class="pt7 f_r"></a>
        </td>
        <td>{$val.consignee}</td>
        <td {if $shipping_act} ondblclick="replaceToInput(this, {$val.order_id})"{/if}>{if $val.tracking_sn}{if $act eq 'history_order' || $act eq 'finished_order' || $act eq 'order_before_transfer'}<a href="logistics_info.php?id={$val.order_id}" target="_blank">{$val.tracking_sn}</a>{else}{$val.tracking_sn}{/if}{else}{$val.shipping_name}{/if}</td>
        <td>{$val.short_order_time}</td>
        <td>{$val.formated_total_fee}</td>
        <td title="{$val.admin_name}">{$val.admin_name|truncate:5}</td>
        <td title="{$val.add_admin}">{$val.add_admin|truncate:5}</td>
        <td>{$val.remarks|truncate:5}</td>
      </tr>
      {/foreach}
    </table>
  </div>
</div>

<!-- 分页 -->
<div class="bottom_tip">
  <div class="tip_left">
    <p>共{$record_count}条记录,当前页:{$page_start}-{$page_end}条，每页<input type="text" name="page_size" value="" size="4" onkeyup="sendPageValue(this)"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  </div>
  <div class="tip_center">
    <span><a href="order.php?act={$act}{$page_link}&page=1&page_size={$page_size}" id="page_link"><<</a></span>
    {foreach from=$page_set item=v}
    <span{if $v eq $page} class="cur"{/if}>{if $v eq $page}{$v}{else}<a href="order.php?act={$act}{$page_link}&page={$v}&page_size={$page_size}">{$v}</a>{/if}</span>
    {/foreach}
    <span><a href="order.php?act={$act}{$page_link}&page={$page_count}&page_size={$page_size}">>></a></span>
  </div>
  <div class="tip_right">
    跳转到第
    <input type="text" name="page" size="4" onkeyup="sendPageValue(this)">&nbsp;页
  </div>
</div>
</div>
