<table border="0" cellpadding="0" cellspacing="0" class="w830 wu_table_list rb_border wu_rb_border tr_hover">
  <tr>
    <th width="24px"> <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox"> </th>
    <th width="80px">顾客</th>
    <th width="235px">服用时间表</th>
    <th width="70px">三天内回访</th>
    <th width="100px">购买日期</th>
    <th width="100px">确认收货日期</th>
    <th width="80px">添加订单</th>
  </tr>
  {foreach name=no from=$user_list item=user}
  <tr id="tr_{$user.user_id}">
    <td align="center" width="25px">
      <input type="checkbox" name="checkboxes[]" value="{$user.user_id}" notice="{if $user.user_money ne 0}1{else}0{/if}"/>
    </td>
    <td class="first-cell pos" width="80px">
      {$user.consignee}
      <a href="users.php?act=user_detail&id={$user.user_id}"><img src="images/add.gif"></a>
    </td>
    <td align="center" width="240px">{$user.take_timetable}</td>
    <td align="center" width="70px">{$user.recently}</td>
    <td align="center" width="101px">{$user.add_time}</td>
    <td align="center" width="102px"> {$user.receive_time} </td>
    <td align="center" width="80px">{$user.add_admin}</td>
  </tr>
  {foreachelse}
  <tr>
    <td class="no-records" colspan="7">
      {$lang.no_records}
    </td>
  </tr>
  {/foreach}
</table>
