{if $full_page}
<style type="text/css" media="screen">
  span.title{padding:6px;border:1px solid #eee;color:#fff;background:#267980;margin:5px 0px;display:block;}
  a:hover{color:#ccc;}
</style>
{/if}
<br />
<div style="margin-left:3px;border:1px solid #ccc;width:70%;margin:0 auto;">
  <div style="overflow:auto;">
    {if $feature}
    <div>
      <span class="title">产品卖点</span>
      <div>{$feature}</div>
    </div>
    {/if}
    <div>
      <span class="title">话术
        <a class="btn_new" target="_self" href="article.php?act=edit_article&cat_id={$cat_id}">编辑</a>
      </span>
      <div>{$talk_skill}</div>
    </div>
    <div>
      <span class="title">功效</span>
      <div>{$effect}</div>
    </div>
  </div>
</div>
