{if $content eq 'users_list'}
<table height="100%" cellpadding="0" cellspacing="0" width="830px" class="wu_table_list rb_border wu_rb_border tr_hover">
  <tr>
    <th width="5%"class="first"> </th>
    <th width="10%">顾客</th>
    <th width="10%">性别</th>
    <th width="10%">年龄</th>
    <th width="5%">旺旺</th>
    <th width="5%">QQ</th>
    <th width="10%">添加时间</th>
    <th width="10%">上次服务</th>
    <th width="10%">所属客服</th>
    <th width="10%">分配时间</th>
    <th width="10%">操作</td>
  </tr>
  {foreach name=no from=$user_list item=user}
  <tr id="tr_{$user.user_id}">
    <td align="center">
      <input type="checkbox" name="checkboxes[]" value="{$user.user_id}" onclick="addToRecycle(this)" notice="{if $user.user_money neq 0}1{else}0{/if}"/>
    </td>
    <td class="first-cell pos">
      {if $user.referrals_id}<a href="users.php?act=user_detail&id={$user.referrals_id}">{/if}
        {$user.user_name}
        {if $user.referrals_id}</a>{/if}
      <a href="users.php?act=user_detail&id={$user.user_id}">
        <img src="images/add.gif" style="margin-top:7px"/>
      </a>
    </td>
    <td>{if $user.sex eq 1}男{elseif $user.sex eq 2}女{elseif $user.sex eq 0}未知{/if}</td>
    <td>{$user.age_group}</td>
    <td>
      {if $user.aliww}<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid={$user.aliww}&siteid=cntaobao&status=2&charset=utf-8" title="{$user.aliww}"><img border="0" src="http://amos.alicdn.com/realonline.aw?v=2&uid={$user.aliww}&site=cntaobao&s=2&charset=utf-8" alt="{$user.aliww}" /></a>{/if}
    </td>
    <td>
      {if $user.qq}<a href="tencent://message/?uin={$user.qq}" title="{$user.qq}" name="msg"><img alt="{$user.qq}" src="http://wpa.qq.com/pa?p=1:{$user.qq}:17"></a>
      {/if}
    </td>
    <td>{$user.add_time}</td>
    <td>
      {if $user.service_time eq '1970-01-01' || $user.service_time eq 0}-{else}{$user.service_time}{/if}
    </td>
    <td>{$user.admin_name}</td>
    <td>{$user.transfer_time}</td>
    <td> <img src="images/0.gif" alt="删除顾客" onclick="deleteUser(this,{$user.user_id})" /> </td>
  </tr>
  {foreachelse}
  <tr>
    <td class="no-records" colspan="11">没有记录</td>
  </tr>
  {/foreach}
</table>
{/if}
