<form name="do_returns" method="post" accept-charset="utf-8" style="width:136px">
  <table width="80%">
    <tr>
      <td>运单号：</td>
    </tr>
    <tr>
      <td><input type="text" name="express_number" value="" size="15"/></td>
    </tr>
    <tr>
      <td>退货原因：</td>
    </tr>
    <tr>
      <td><textarea name="return_reason" cols="15" rows="5"></textarea></td>
    </tr>
    <tr>
      <td>
        <a href="order.php?act=do_returns&order_id={$order_info.order_id}" class="input_submit" style="color:#fff">
          申请退货
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <select name="close_reason" id="close_reason">
          <option value="0">订单关闭原因</option>
          {foreach from=$reason item=val}
          <option value="{$val.reason_id}">{$val.reason_name}</option>
          {/foreach}
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <a class="input_submit" style="color:#fff" href="order.php?act=order_del&id={$order_info.order_id}" title="删除后该订单不再显示">
          关闭订单
        </a>
      </td>
    </tr>
  </table>
</form>
