<thead>
    <tr>
        <th style="text-align:left" width="90px"> </th>
        <th colspan="9"><h4>{$month} 个人销量统计</h4></th>
    </tr>
    <tr>
      <th width="5%">排 名</th>
      <th width="10%">客 服</th>
      <th width="10%">订单数量</th>
      <th width="10%">订单金额(不含退货)</th>
      <th width="10%">客单价</th>
      <th width="10%">当月总退货数</th>
      <th width="10%">当月总退货金额</th>
      <th width="10%">上月单本月退货数</th>
      <th width="10%">上月单退货金额</th>
      <th width="10%">目标销量</th>
    </tr>
  </thead>
  <tbody>
    {foreach from=$sales_list item=val name=i}
    <tr group="{$val.group_id}" role="{$val.role_id}" admin="{$val.admin_id}" role_code="{$val.role_describe}">
      <th title="排名">{$smarty.foreach.i.iteration}</th>
      <th>{$val.admin_name}</th>
      <th title="订单数量">{$val.order_num}</th>
      <th title="销售金额(不含退货)">{$val.final_amount}</th>
      <th title="客单价">{$val.average}</th>
      <th title="退货单数">{if $val.return_count}{$val.return_count}{else}0{/if}</th>
      <th title="退货金额">{if $val.return_amount}{$val.return_amount}{else}0{/if}</th>
      <th title="退货单数">{if $val.p_return_num}{$val.p_return_num}{else}0{/if}</th>
      <th title="退货金额">{if $val.p_return_amount}{$val.p_return_amount}{else}0{/if}</th>
      <!--<th title="上月下单当月退货">{if $val.return_amount}{$val.return_amount}{else}0{/if}</th>-->
      <th title="目标销量">{$val.target}</th>
    </tr>
    {/foreach}
    <tr>
      <th> </th>
      <th>总 计</th>
      <th title="订单数量">{$total.order_num}</th>
      <th title="销售金额(不含退货)">{$total.final_amount}</th>
      <th id="pct" title="客单价">{$total.average}</th>
      <th title="退货数">{if $total.return_count}{$total.return_count}{else}0{/if}</th>
      <th title="退货金额">{if $total.return_amount}{$total.return_amount}{else}0{/if}</th>
      <th title="退货数">{if $total.p_return_num}{$total.return_num}{else}0{/if}</th>
      <th title="退货金额">{if $total.p_return_amount}{$total.p_return_amount}{else}0{/if}</th>
      <!--<th title="上月下单当月退货">{if $total.return_amount}{$total.return_amount}{else}0{/if}</th>-->
      <th title="目标销量">{$total.target}</th>
    </tr>
  </tbody>
