<table cellspacing="0" cellpadding="0" style="width:920px" class="wu_table_list wu_rb_border tr_hover">
    <tr>
        <th width="15%">总销量：</th><th width="15%">{$final_total.total}</th>
        <th width="15%">在线支付：</th><th width="15%">{$final_total.pay}</th>
        <th width="15%">货到付款：</th><th width="15%">{$final_total.shipping}</th>
    </tr>
    <tr>
        <th>总单数：</th><th>{$final_number.total}</th>
        <th>在线支付：</th><th>{$final_number.pay}</th>
        <th>货到付款：</th><th>{$final_number.shipping}</th>
    </tr>
</table>
<br />
<table class="wu_table_list wu_rb_border tr_hover" cellspacing="0" cellpadding="0" width="50%">
    <thead>
        <th>支付方式</th>
        <th>金额</th>
        <th>数量</th>
        <th width="30%">支付方式</th>
        <th>金额</th>
        <th>数量</th>
    </thead>
    <tr>
        {foreach from=$pay_list name=i key=key item=val}
        <td>{$val}</td>
        <td>{$pay_final[$key]}</td>
        <td>{$pay_number[$key]}</td>
        {if $smarty.foreach.i.iteration%2 neq 0 and $smarty.foreach.i.last}
        <td> </td>
        <td> </td>
        <td> </td>
        {/if}
        {if $smarty.foreach.i.iteration%2 eq 0 and !$smarty.foreach.i.last}
    </tr>
    <tr>
        {/if}
        {/foreach}
    </tr>
</table>
<br />
<table class="wu_table_list wu_rb_border tr_hover" cellspacing="0" cellpadding="0" width="50%">
    <thead>
        <th>配送方式</th>
        <th>金额</th>
        <th>数量</th>
        <th>配送方式</th>
        <th>金额</th>
        <th>数量</th>
    </thead>
    <tbody>
        <tr>
            {foreach from=$shipping_list name=i key=key item=val}
            <td>{$val}</td>
            <td>{$shipping_final[$key]}</td>
            <td>{$shipping_number[$key]}</td>
            {if $smarty.foreach.i.iteration%2 neq 0 and $smarty.foreach.i.last}
            <td> </td>
            <td> </td>
            <td> </td>
            {/if}
            {if $smarty.foreach.i.iteration%2 eq 0 and !$smarty.foreach.i.last}
        </tr>
        <tr>
            {/if}
            {/foreach}
        </tr>
    </tbody>
</table>
