<!--  页首标题  -->
<div class="content-head">
  <br style="clear:both"/>
  <div class="finder-title">{$curr_title}</div>
  <div class="list_panel">
    <form action="report_forms.php?act=sale_detail" name="saleDetail" onsubmit="return getSaleDetail()">
      统计时间：
      <input class="Wdate" name="startTime" type="text" value="{$start_time}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
      至<input class="Wdate" name="endTime" type="text" value="{$end_time}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
      <select name="platform" id="platform">
        <option value="0">销售平台</option>
        {foreach from=$platform item=val}
        <option value="{$val.role_id}">{$val.role_name}</option>
        {/foreach}
      </select>
      <label><input type="checkbox" value="1" name="rtn"/>不包含退货</label>
      <input type="submit" value="统计" class="b_submit"/>
    </form>
  </div>
  <div id="data"> {$data} </div>
</div>
