<br />
<h3>设置主推产品</h3>
<div class="white_bg w800"> 
    <table width="100%">
      <tr>
        <td>
          <select name="platform_list">
            {foreach from=$platform_list item=v}
            <option value="{$v.role_id}">{$v.role_name}</option>
            {/foreach}
          </select> 
          <input type="text" name="goods_name" value="" oninput="searchGoods(this)" onblur="searchGoods(this)"/> 
          <select name="goods_id" id="goods_id">
            <option value="0">请选择产品名</option>
          </select>
         <input type="button" name="" value="添加" class="b_submit" onclick="addToMain('goods_list')"/>
         <input type="button" class="b_submit" value="保存主推产品" onclick="saveMainSaleGoods()"/>
        </td>
      </tr>
    </table>
</div>
<div class="white_bg w800"> 
  <form action="javascript:void(0)" onsubmit="setMainSale(this)">
    <table width="100%" class="form_table ">
      <tr>
        <td width="15%">主推产品：</td>
        <td id="goods_list" style="text-align:left;"></td>
      </tr>
    </table>
  </form>
</div>

<div class="w800 wu-div-box"> 
  <div class="mb6">
    <select name="depart_id">
      <option value="0">选择部门</option>
      {foreach from=$depart_list item=v}
      <option value="{$v.depart_id}">{$v.depart_name}</option>
      {/foreach}
    </select>
    <select name="role_id" id="role_id">
      <option value="0">请选择小组</option>
      {foreach  from=$role_list item=role}
      <option value="{$role.role_id}" {if $role.role_id eq $role_id}selected{/if}>{$role.role_name}</option>
      {/foreach}
    </select>
    <input type="button" value="确定" class="b_submit"/>
  </div>
  <table width="100%" cellpadding="0" cellspacing="0" border='0' class="wu_table_list rb_border wu_rb_border tr_hover">
    <tr>
      <th width="15%">部门</th>
      <th>主推产品</th>
    </tr>
    {if $main_sale_list}
    {foreach from=$main_sale_list key=k item=v}
    <tr>
      <td>{$v.role_name}</td>
      <td style="text-align:left;padding-left:6px;">
        {foreach from=$v.goods_list item=g}
        <span class="tag_box" id="{$k}{$g.goods_id}">{$g.goods_name}<span class="delete" g="{$g.goods_id}" onclick="delMainSale({$k},{$g.goods_id})" title="删除"> X </span></span>
        {/foreach}
      </td>
    </tr>
    {/foreach}
    {else}
    <tr>
      <td colspan="2">没有记录</td>
    </tr>
    {/if}
  </table>
</div>
